#pagination{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    gap: 1rem;
    font-size: 1.2rem;
}

#pagination button{
    border-radius:1rem;
    padding: 1rem;
    width: 10rem;
    border: none;
    background-color: #08C952;
    color: white;
}

#pagination button:hover{
    opacity: 90%;
    cursor: pointer;
}