#main-characters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 2rem;
    width: 100%;
}

#api-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

@media(max-width: 800px){
    #api-content{
        justify-content: center;
    }
}