#main-characters{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

#api-content{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}